html{
    background-color: black;
}

html .index{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(circle at center, 
    cyan, rgb(77, 136, 212), blue),100% ;
}


.container-main-page{
    background:
  radial-gradient(ellipse at top, #db0707, transparent),
  radial-gradient(ellipse at bottom, #038064, transparent);
    border:dashed rgb(245, 147, 0) 10px;
    border-radius: 10%;
    margin:auto;
    background-clip:padding-box;
}

.image-container{
    text-align: center;
}

/*1pc = 1 picas that is 1/6th of inch*/
.container-main-page img{
    width:5pc;
    border:solid black 8px;
    border-radius: 60%;
    background: radial-gradient(circle at center, 
    rgb(204, 0, 255), rgb(115, 212, 77), blue),100% ;
}

.odin{
    color:white;
    text-align:center;
    font-weight:700px;
    padding:2px 16px;
}

.recipes a{
    border-radius: 40%;
    display:block;
    color:rgb(56, 5, 139);
    background: linear-gradient(135deg, orange 60%, cyan);
}

a:hover{
    color:rgb(42, 148, 209);
}


.recipes{
    text-align:center;
    padding:20px;
}

/*Linear Gradient usage*/
.lasagna{
    font-weight:bold;
    background-image: linear-gradient(to left, red ,white, green,transparent);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    margin:15px;
    font-size: 20px;
    padding: 20px 300px;
}

.pav-bhaji{
    font-weight:bold;
    background-image: linear-gradient(to left,green, lightgreen, white, orange, transparent);
    background-clip: text;
    color: transparent;
    margin:15px;
    font-size: 20px;
    padding: 20px 300px;
    text-shadow:none;
}

.ramen{
    font-weight:bold;
    background-image: linear-gradient(to left, rgb(212, 118, 55), whitesmoke, red, transparent);
    background-clip: text;
    color: transparent;
    margin:15px;
    font-size: 20px;
    padding: 20px 280px;
    text-shadow:none;
}

footer{
    color:white;
    font-weight:bold;
}

/* Recipe HTMLs */
.each-recipe{
    color:white;
}

.each-recipe a{
    color:yellow;
    font-weight:1000;
}

.each-recipe.Ramen{
    background:linear-gradient(to left, red, orange);
}

.each-recipe.Pav-Bhaji{
    background:linear-gradient(to left, green, orange);
}