html{
    background: radial-gradient(circle at center, 
    cyan, rgb(77, 136, 212), blue),100% ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-main-page{
    background:
  radial-gradient(ellipse at top, #e66465, transparent),
  radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    border:double red 10px;
    border-radius: 10%;
    margin:auto;
}

.image-container{
    text-align: center;
}

/*1pc = 1 picas that is 1/6th of inch*/
img{
    width:5pc;
    border:solid black 8px;
    border-radius: 60%;
    background: radial-gradient(circle at center, 
    rgb(204, 0, 255), rgb(115, 212, 77), blue),100% ;
}

.odin{
    color:white;
    text-align:center;
    font-weight:700px;
    padding:2px 16px;
}

a{
    color:white
}

.lasagna{
    color:white
}
